<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.1/js/dataTables.fixedColumns.min.js"></script>

<script>
    "use strict";

    $(document).ready(function() {
        $.fn.dataTable.ext.type.order["my-type-pre"] = function(data) {
            var match = data.match(/(.*)±/)
            if (match) {
                return Number(match[1])
            }
            return data
        }
        $("table").DataTable( {
            scrollY:        "300px",
            scrollX:        true,
            scrollCollapse: true,
            paging:         false,
            fixedColumns:   {
                leftColumns: 1,
            },
            columnDefs: [
                {
                    targets: "_all",
                    type: "my-type",
                },
            ],
        } )
        $("header").append('<img src="/assets/mpm.jpg">')
    });
</script>
